@import "./variables.css";

.wrapper {
	position: relative;
	box-shadow: 0 1px 25px 1px rgb(0, 0, 0, .5) inset;
	background-color: var(--slate);
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.content {
	position: absolute;
	width: 100px;
	height: 100px;
}

.room {
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: absolute;
	border-style: solid;
	border-color: black;
	background-color: green;
	width: 100%;
	height: 100%;
}

.door {
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
}

.character-wrapper {
	position: relative;
	width: 32px;
	height: 40px;
	z-index: 1;
}

.character-wrapper>div, .chest {
	width: 32px;
	height: 32px;
}
