@import "./variables.css";

.header {
	display: flex;
	justify-content: space-between;
	grid-area: header;
	border-bottom: 1px solid black;
	background: linear-gradient(to bottom, var(--slate-dark) 85%, var(--slate));
}

.title {
	padding: 10px;
	color: var(--platinum);
	line-height: 1;
	text-shadow: var(--text-shadow);
	user-select: none;
}

.button {
	padding: 10px;
	color: var(--platinum);
	line-height: 1;
	text-shadow: var(--text-shadow);
}
.button:hover:not(:disabled) {
	color: white;
}
.button:active:not(:disabled) {
	color: var(--platinum-dark);
}
.button:disabled {
	filter: brightness(.5);
}
