@import "./variables.css";

.content {
	grid-area: party;
}
.grass-button {
	border: 2px outset var(--olive-pale);
	width: 100%;
	height: 100px;
	background-color: var(--olive);
	color: white;
	font-size: var(--large);
	text-shadow: 2px 2px black;
}
.grass-button:hover {
	background-color: var(--olive-light);
}
.grass-button:active {
	border-style: inset;
	background-color: var(--olive-dark);
}

.character {
	position: relative;
	margin: 20px;
	padding-left: 40px;
}
.character-head {
	position: absolute;
	left: 0;
	width: 24px;
	height: 24px;
	color: #ffed7c;
	
	animation-name: bounce-forward, rotate-forward;
	animation-duration: .3s;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
}
.bounce-back {
	animation-name: bounce-back, rotate-back;
}

/* animations */
@keyframes bounce-forward {
	0% {
		left: 0;
		top: 0;
		animation-timing-function: ease-out;
	}
	50% {
		left: 3px;
		top: -6px;
		animation-timing-function: ease-in;
	}
	100% {
		left: 6px;
		top: 0;
	}
}
@keyframes bounce-back {
	0% {
		left: 6px;
		top: 0;
		animation-timing-function: ease-out;
	}
	50% {
		left: 3px;
		top: -6px;
		animation-timing-function: ease-in;
	}
	100% {
		left: 0;
		top: 0;
	}
}

@keyframes rotate-forward {
	from {transform: rotate(-10deg)}
	to {transform: rotate(10deg)}
}
@keyframes rotate-back {
	from {transform: rotate(10deg)}
	to {transform: rotate(-10deg)}
}
