@import "./variables.css";

.content {
	grid-area: main;
	box-shadow: 0 1px 3px 1px rgb(0, 0, 0, .5) inset;
}
.tabs {
	display: flex;
}
.tab {
	position: relative;
	flex: 1 1 0;
	text-shadow: var(--text-shadow);
}
.tab:after {
	content: "";
	display: block;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	width: 0;
	height: 2px;
	background-color: grey;
	transition: all 100ms;
}
.tab:hover:after {
	width: 60%;
}
.selected-tab.selected-tab:after {
	width: 80%;
	background-color: var(--slate-dark);
}

.wip {
	text-align: center;
}

.upgrade-button {
	border: 2px outset var(--steel-blue-pale);
	padding: 20px;
	height: 100px;
	width: 100%;
	background-color: var(--steel-blue);
	color: white;
	text-align: left;
	text-shadow: var(--text-shadow);
}
.upgrade-button:hover:not(:disabled) {
	background-color: var(--steel-blue-light);
}
.upgrade-button:active:not(:disabled) {
	border-style: inset;
	background-color: var(--steel-blue-dark);
}
.upgrade-button:disabled {
	filter: brightness(.5);
}
.upgrade-row, .upgrade-title-row {
	display: flex;
	justify-content: space-between;
}
.upgrade-title-row {
	font-size: var(--large);
}
.upgrade-cost {
	display: flex;
	align-items: center;
}
