:root {
	/* font-sizes */
	--tiny: 10px;
	--small: 15px;
	--normal: 20px;
	--medium: 25px;
	--large: 30px;

	--platinum: hsl(240, 15%, 90%);

	/* greys */
	--light-grey: hsl(0, 0%, 80%);
	--slate-light: hsl(0, 0%, 40%);
	--slate: hsl(0, 0%, 30%);
	--slate-dark: hsl(0, 0%, 20%);
	--carbon: hsl(0, 0%, 12%);

	/* olive */
	--olive: hsl(82, 40%, 30%);
	--olive-light: hsl(82, 40%, 40%);
	--olive-dark: hsl(82, 40%, 20%);
	--olive-pale: hsl(82, 20%, 40%);
}
